{% extends 'base.html' %}

{% block title %}About PPRE{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 about_pic no_margin">
            <!--<img src="../static/img/images/cs5.png">-->
        </div>
        <div class="col-md-9 ">
            <h4>Why Choose Pikes Peak Real Estate Sales & Property Management, LLC</h4>
            <p class="font-1 font_size-1">In these quickly changing times, you need an aggressive property management team who can stay
                ahead of the game. Pikes Peak Real Estate Sales & Property Management, LLC, with over 20 years of experience in the
                area with loyal and long-term clientele. We provide each property with separate accounting.<br><br>

                Specializing in the managing of Multi-Family, HOAs, Commercial, and Single-Family Housing since 1988,
                Pikes Peak Property Management has been actively involved in all aspects of the real estate industry.
                Preservation of capital via the skilled management and enhancement of real property is a critical science
                that requires technical expertise, advanced planning, and a dedication to quality. Our Asset Management
                team encompasses all these talents and uses them to integrate the desires of our clients with the demands
                of their property. Each Pikes Peak Property Management representative has an average of 14 years experience
                with managing on-site personnel. We pride ourselves in hiring experienced and qualified personnel, as well
                as developing and training of each member of our management team on an on-going basis. The result is loyal,
                productive real estate professionals at all levels of our organization. <br><br>

                Our policies and procedures are constantly reassessed and updated to meet the changing needs of property
                owners, and to maintain a leading edge in the industry. Proven administrative procedures, information
                analysis and feedback mechanisms provide our property management team with the necessary resources to
                make prudent management decisions. Pikes Peak Real Estate Sales & Property Management, LLC uses state of the art computer-based
                accounting systems to process accounts payable, prepare monthly, quarterly, and year end financial reports,
                 as well as state and federal tax returns. Accuracy, consistency, accessibility, and security are standard
                 features provided to you by our accounting personnel. In addition to the management of Pikes Peak Property
                 Management’s own portfolio, the Property Management division manages properties for other owners of
                 apartment complexes, HOAs, commercial office space, medical office buildings and retail buildings.</p>
            <!--<h2>About Pikes Peak Property Management</h2>
            <p>Paragraph information about company background & leadership</p>-->
        </div>
    </div>
{% endblock %}}